@import "common";

.hello-container{
  background-color: red;

  .hello-text{
    color: #000;
  }

  .image-container{
    background: url("../images/icon-feature.png") no-repeat;
    width:100px;
    height: 100px;
  }
}